<h1>Assignments</h1>

<ul>
  <%= for assignment <- @dire, due <- [Froggy.School.days_due(assignment)] do %>
  <li class="due-<%= due %>" style="list-style: none;">
    <div>Due in <%= due %> days on <%= assignment.due_date %></div>
    <div><%= assignment.student %></div>
    <div><%= assignment.subject %></div>
    <div><%= assignment.description %></div>
  </li>
  <% end %>
</ul>
