/* This file is for your main application css. */

/* 8-color scheme from same pic:
#E78F0F - lt brown/warm yellow
#D86702 - md brown
#AB4805 - darker brown
#41721C - light green
#327E2C - md green
#286825 - md green
#15612C - dk green
#292010 - Dark, near black
*/

/*
Our color scheme.  It's not easy being green.
#E8911A,
#3D8C3B,
#AB4F09,
#3B7323,
#237034,
#2C6C2B,
#115D30,
#1A5129 */

.due {
    padding: 1em;
    background-color: rgb(209, 209, 209);
    border-width: 0.25em;
    border-style: dashed;
}

.due-0 {
    border-color: red;
}

.due-1 {
    border-color: #800;
}

.due-2 {
    border-color: #440;
}

.due-3 {
    border-color: #480;
}

.due-4 {
    border-color: #480;
}

.due-5 {
    border-color: #080;
}

@import "./phoenix.css";